body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    color: black;
    margin: 0;
    padding: 0;
}

.player{
    height: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.wrapper{
    border: 1px solid transparent;
    padding: 40px;
    border-radius: 30px;
box-shadow:rgba(0, 0, 0, 0.3) 0px 19px 50px ;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.track-art{
    margin: 30px;
    height: 30vmin;
    width:  30vmin;
    border: 2px solid #fff;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow:rgba(0, 0, 0, 0.22) 0px 19px 20px ;
    animation: rotate 8s infinite;
}
@keyframes rotate {
    from{
        transition: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
.track-name{
    font-size: 2.5rem;
}
.track-artist{
    font-size: 1.5rem;
    margin-top: 10px;
}
.btn{
display: inline-flex;
gap: 30px;
margin-top: 30px;
align-items: center;
justify-content: center;
margin-bottom: 20px;
}
.random-track,
.prev-track,
.play-pause,.next-track,.repeat-track{
    padding: 5px;
}
.random-track:hover,
.prev-track:hover,
.play-pause:hover,.next-track:hover,.repeat-track:hover{
    transform: scale(1.1);
    transition: transform ease-in-out .5s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.22) 0 2px 3px;
}
.slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.seek_slider, .volume_slider{
    appearance: none;
    height: 4px;
    border-radius: 10px;
    background: #83a9ff;
    cursor: pointer;
    border: none;

}
.seek_slider{
    width: 40vmin;
}
.volume_slider{
    width: 20vmin;
    margin-top: 20px;
}
.slider-container i{
margin-top: 20px;
padding: 10px;
}
/* CSS (styles.css) */
.toggle-container {
    display: flex;
    align-items: center;
  }
  
  .toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  